@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Lobster&family=Pacifico&display=swap');

:root {
    --accent: #EA9180;
    --accentHover: #DE8A86;
    --grey6: #F2F2F2;
    --grey5: rgba(224,224,224,1);
    --grey2: rgba(79,79,79,1);
    --grey29: rgba(79,79,79,0.9);
    --grey20: rgba(79,79,79,0.0);
    --yellow: #e5b02d;
    --orange: #eb7c2d;
    --purple: #e0b5ff;
    --lightyellow: #fff6c7;
    --transition: all 0.3s ease 0s;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}

body {
    background: linear-gradient(
            to bottom,
           var(--grey29),
            var(--grey20)
        ),
        url(/static/img/Untitled-Artwork.png);

    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p, a, button{
    font-family: "Lobster", sans-serif;
    color: var(--grey6);
    text-decoration: none;
}

a, button, .logo {
    cursor: pointer;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
}

header{
    grid-column: 2 / span 6;
}

nav {
    display: flex;
    align-items: center;
    height: 120px;
}

.links {
    margin-left: auto;
}

.links a, .links button {
    font-size: 1.25rem;
    font-weight: 400;
    transition: var(--transition);
}

.links a {
    margin-right: 50px;
}

.links a:hover {
    color: var(--yellow);
}

.button__med {
    border: none;
    background-color: var(--yellow);
    padding: 8px 25px;
    transition: var(--transition);
}

.button__med:hover{
    background-color: var(--orange);
}

.info{
    grid-column: 2 / span 6;
}

.hero__font {
    color: var(--grey6);
    font-family: 'Cabin Sketch', cursive;
    font-weight: 400;
    font-size: 4.375rem;
    /*margin-top: 10px;*/
}

.icons {
    display: flex;
    margin-top: 55px;
}

.icon {
    display: flex;
    align-items: center;
}

.icon__info {
    margin: 0 80px 0 20px;
}

.icon__top {
    font-size: 1.5625rem;
    font-weight: 400;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: auto;
}


.icon__bottom {
    font-size: 2rem;
    font-weight: 400;
    color: var(--lightyellow);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: auto;
    margin-bottom: auto;
}

.placeholder__space {
    display: flex;
    margin-top: 250px;
}

@media only screen and (max-width: 1100px){
    .icon img{
        height: 55px;
        width: auto;
    }

    .icon__top {
        font-size: 1rem;
    }

    .icon__bottom {
        font-size: 1.125rem;
    }

    .hero__font {
        font-size: 2.1875rem;
    }

}

@media only screen and (max-width: 650px){
    .info{
        grid-column: 2 / span 6;
    }
    .icons {
        flex-direction: column;
    }
    .icon {
        margin-bottom: 20px;
    }
}