{% extends "tasks/layout.html" %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock cssfiles %}
{% block content %}

{% if user.is_authenticated %}


{% else %}

<section class="info">
    <h1 class="hero__font">The one-stop platform to help you manage all your tasks</h1>
    <div class="icons">
        <div class="icon">
            <img src="{% static 'img/icon1.svg' %}" />
            <div class="icon__info">
                <p class="icon__top">create</p>
                <p class="icon__bottom">Task Lists</p>
            </div>
        </div>
        <div class="icon">
            <img src="{% static 'img/icon2.svg' %}" />
            <div class="icon__info">
                <p class="icon__top">manage your</p>
                <p class="icon__bottom">Goals</p>
            </div>
        </div>
        <div class="icon">
            <img src="{% static 'img/icon3.svg' %}" />
            <div class="icon__info">
                <p class="icon__top">set up</p>
                <p class="icon__bottom">Rewards</p>
            </div>
        </div>
        <div class="icon">
            <img src="{% static 'img/icon4.svg' %}" />
            <div class="icon__info">
                <p class="icon__top">work with</p>
                <p class="icon__bottom">Friends</p>
            </div>
        </div>
    </div>
    <div class="placeholder__space"></div>
</section>
{% endif %}
        

{% endblock content %}























