{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--<link rel="icon"
          type="image/png"
          href="https://dl.dropboxusercontent.com/s/o093y16u4d3kojv/code.png?dl=0" />-->
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet"
           href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
     <link rel="stylesheet"
           href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
     <link rel="stylesheet"
           type="text/css"
           href="https://dl.dropboxusercontent.com/s/ecyb1drs5j1jyjf/styles.css?dl=0" />-->
    
    {% block cssfiles %}{% endblock cssfiles %}
    <title>Radiance</title>
</head>

<body>
    {% block content %}{% endblock content %}

    <!-- JS Files 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    {% block jsfiles %}{% endblock jsfiles %}
</body>
</html>